<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" novalidate>
        {%csrf_token%}

        {{form.as_p}}
        <input type="submit" value="submit">


    </form>
</body>

</html>